
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-thumbs-down:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-award:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-chart:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-eye-off:before { content: '\e809'; } /* '' */
.icon-group-circled:before { content: '\e80a'; } /* '' */
.icon-group:before { content: '\e80b'; } /* '' */
.icon-align-justify:before { content: '\e80c'; } /* '' */
.icon-linkedin:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */
.icon-warning:before { content: '\e80f'; } /* '' */
.icon-minefield:before { content: '\e826'; } /* '' */
.icon-linkedin-1:before { content: '\f05c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-youtube-1:before { content: '\f315'; } /* '' */
